
#page1title, #page2title,#page3title,#page4title, .rightbox { 
    transform: rotateX(90deg);
}



.imageitem, div.page4 h2, div.page4 h3, #contactbutton, #hobbybutton, #projectbutton { 
    opacity: 0;
}

.modal-content, #caption { 
    animation: zoomIn 0.5s ease-out;
}


@keyframes SlideColor { 
    from {
        background-position: 0% 100%;
    }
    to {
    background-position: 100% 0%;
    }
}

@keyframes FromLeft{ 
    from { 
        position: absolute;
        left: 0;
    }
    to {
        position: absolute;
        left: 50%;
        transform: translatex(-50%);
    }
}

@keyframes FromRight{ 
    from { 
        position: absolute;
        right: 0;
    }
    to {
        position: absolute;
        right: 50%;
        transform: translatex(-50%);
    }
}

@keyframes FadeIn {
    to { 
        opacity: 1;
    } 
}


@keyframes Rotate { 
    100% { 
        transform: rotateX(0deg);
    }

}

@keyframes zoomIn { 
    from { 
        transform: scale(0);
    }
    to { 
        transform: scale(1);
    }
}


