#fourth-pagetitle {
  transform: rotateX(90deg);
}


.image-item,
#fourth-page-sub-heading,
#fourth-page-sub-sub-heading,
div#first-page.h2,
div#first-page div.first-page-main-content-box h2,
.second-page-projects-box {
  opacity: 0;
}

.modal-content,
#caption {
  animation: zoomIn 0.5s ease-out;
}

.project-item:hover {
  animation: SlideColor 0.5s forwards ease-in-out;
}

.image-item-inner-box:hover {
  animation: zoom 0.2s cubic-bezier(0.36, 0.04, 0, 1) forwards;
}

.character {
  display: inline-block;
  transform: rotateX(90deg);
  transform-origin: 50% bottom;
}


@keyframes SlideUp {
  from {
    transform: translateY(150px);
    opacity: 0;
  }
  to {
    transform: translateY(0px);
    opacity: 1;
  }
}

@keyframes SlideColor {
  from {
    background-position: 100% 0%;
  }
  to {
    background-position: 0% 100%;
  }
}

@keyframes FadeIn {
  to {
    opacity: 1;
  }
}

@keyframes SlideDown {
  100% {
    height: 100%;
    opacity: 1;
  }
}

@keyframes zoom {
  to {
    transform: scale(1.15) translateZ(30px);
  }
}

@keyframes Rotate {
  100% {
    transform: rotateX(0deg);
  }
}

@keyframes zoomIn {
  from {
    transform: scale(0);
  }
  to {
    transform: scale(1);
  }
}
