$primary-color: rgba(248, 240, 170, 0.753);
$secondary-color:  hsl(104, 35%, 65%); 
$tritiary-color:   #739278; 

$accent-color: #42b19c; 

$heading-font-size: 3em; // h1 headings
$subtitle-font-size: 2em; //icon font size + sub heading
$sub-subtitle-font-size: 1.2em; 
//#region texts
// ------------- TEXT STYLING ---------------------//
h1 {
  color: $primary-color;
  font-size: $heading-font-size;
}

h2 {
  color: $secondary-color;
  font-size: $subtitle-font-size;
}

h3 {
  font-size: $sub-subtitle-font-size; 
  color: $tritiary-color;
}

a {
  color: $accent-color;
  text-decoration-thickness:2px; 
}

a:hover { 
  color: $primary-color; 
  filter: drop-shadow(16px 16px 20px $accent-color);
}

div.first-page-icons a.active { 
  font-size:$subtitle-font-size;
  color: $primary-color; 
  filter: drop-shadow(16px 16px 20px $accent-color);
}

#caption {
  margin: auto;
  display: block;
  font-size: $heading-font-size;
  width: 80%;
  max-width: 700px;
  text-align: center;
  color: $primary-color;
  padding: 10px 0;
  height: 150px;
}

// ---------------- END -----------------------//
//#endregion

//#region global style


.heading-box {
  width: 100%;
  padding-top: 5vh;
  justify-content: center;
  align-items: center;
  display: flex;
}

.parent {
  overflow-y: scroll;
  overflow-x: hidden;
  height: 100vh;
  scroll-snap-type: y mandatory;
  background-image:  linear-gradient(to right top, #0d273e, #103248, #133d52, #18485c, #1f5465);
  background-size: cover;
  section {
    height: 100vh;
    scroll-snap-align: start;
    position: relative;
  }
}

#app {
  margin: 0;
}

body {
  margin: 0;
}


//#endregion

//#region Page 1 stylessss

#first-page-heading-container {
  margin-top: 20%;
}

.sticky {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1;
}

div#first-page {
  height: inherit;
  overflow-y: hidden;
}

div.first-page-icons {
  background-color: rgba(248, 240, 170, 0.15);
  // navbar parent element
  div {
    display: flex;
    margin-left: auto;
    margin-right: auto;
    align-items: center;
  }
  img {
    height: 50%;
    padding-left: 5%;
    padding-right: 5%;
    width: auto;
    align-content: center;
    justify-content: center;
  }
  a {
    font-size: $sub-subtitle-font-size;
    padding-left: 2%;
    padding-right: 2%;
    align-items: center;
    justify-content: center;
  }
  display: flex;
  justify-content: space-around;
  width: 100%;
  height: 5%;
}

div.first-page-main-content-box {
  //Main heading parent element
  height: 80%;
  h1 {
    text-align: center;
    height: fit-content;
    width: 50%;
    margin: auto;
    margin-top: 20vh;
    font-size: $heading-font-size + 1em;
  }
  h2 {
    text-align: center;
    height: fit-content;
    width: 50%;
    margin: auto;
    margin-top: 1%;
  }
  ul {
    li {
      color: $secondary-color;
      font-size: $subtitle-font-size;
      text-align: center;
      align-items: center;
      height: 15%;
      width: fit-content;
      margin: auto;
      div {
        width: inherit;
        justify-content: center;
        align-items: center;
        display: flex;
      }
    }
    margin-top: 10vh;
    padding: 0;
    height: inherit;
    list-style: none;
  }
  position: relative;
  display: inline-block;
  height: 90%;
  width: 100%;
}

//#endregion

//#region Page 2 styling

.indicator {
  background-color: $secondary-color;
  width: 10px;
  height: 10px;
  border-radius: 5px;
  margin: 10px;
  cursor: pointer;
}

.indicator-active {
  background-color: $primary-color;
  transform: scale(1.6);
}

#scroll-indicator-box {
  display: flex;
  justify-content: center;
}

.project-media-box {
  width: 80vw;
  margin: auto;
  height: 50%;
  display: flex;
  justify-content: center;
  img:hover {
    animation: zoom 0.5s cubic-bezier(0.36, 0.04, 0, 1) forwards;
  }
  img { 
    border-radius: 5px;
  }
}
.project-description {
  width: 80%;
  margin: auto;
}

.second-page-description-box {
  scrollbar-width: none;
  overflow-x: scroll;
  display: flex;
  scroll-snap-type: x mandatory;
  .project-section {
    height: 100%;
    width: 100vw;
    scroll-snap-align: start;
    position: relative;
  }
}

.second-page-description-box::-webkit-scrollbar {
  display: none;
}

.second-page-description-container {
  width: 90%;
  display: block;
  margin: auto;
  align-items: center;
  text-align: center;
}

.second-page-description-inner-box {
  background: linear-gradient($secondary-color, $tritiary-color) bottom no-repeat;
  background-size: 50% 1px;
  width: 100vw;
  display: block;
  overflow: hidden;
  margin-left: auto;
  margin-right: auto;
}

.links-box {
  height: 20%;
  display: flex;
  justify-content: space-around;
  width: 80%;
  margin-right: auto;
  margin-left: auto;

  h2 {
    width: fit-content;
  }
}

.project-item h2 {
  margin-left: auto;
  margin-right: auto;
}

.second-page-projects-box {
  color: $secondary-color;
  width: 100%;
  display: inline-flex;
  justify-content: center;
  width: 20%;
  display: inline-flex;
  background-size: 100% 200%;
  background-image: linear-gradient(
    to bottom,
    transparent 50%,
    rgba(66, 66, 66, 0.4) 50%
  );
}

.content-box {
  width: 100%;
  height: 80%;
  color: $primary-color;
}

#second-page {
  height: 100%;
  width: 100%;
}

//#endregion

//#region Page 3 style
.image-container {
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  overflow-y: auto;
  max-height: 80vh;
  border-radius: 15px;
  height: 70%;
  flex-flow: wrap;
}
.image-item {
  height: 10%;
  width: auto;
  margin: 2%;
  img {
    border-radius: 15px;
    max-width: 150px;
    max-height: 250px;
    height: auto;
    width: auto;
  }
}

.modal {
  display: none;
  position: fixed;
  z-index: 2;
  padding-top: 5%;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.9);
}

.modal-content {
  margin: auto;
  display: block;
  max-width: 100vw;
  max-height: 100vh;
}

.close {
  cursor: pointer;
  position: absolute;
  top: 15px;
  right: 35px;
  color: $primary-color;
  font-size: 40px;
  font-weight: bold;
  transition: 0.3s;
}

//#endregion

//#region Page 4
div#fourth-page {
  height: 100%;
  width: 100%;
  color: $primary-color;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  div {
    margin-left: 5%;
    margin-right: 5%;
  }
  h2 {
    justify-content: center;
    height: fit-content;
    width: 100%;
  }
  h3 {
    justify-content: center;
    margin: auto;
  }
}

//#endregion

//#region Animation before after state 

.zero-opacity { 
  opacity: 0;
}

.max-opacity { 
  opacity: 1;
}

.zero-height { 
  height: 0;
}

.max-height { 
  height: 80%;
}

.modal-content,
#caption {
  animation: zoomIn 0.5s ease-out;
}

.project-item:hover {
  animation: SlideColor 0.5s forwards ease-in-out;
}

.image-item-inner-box:hover {
  animation: zoom 0.2s cubic-bezier(0.36, 0.04, 0, 1) forwards;
}

.character {
  display: inline-block;
  transform: rotateX(90deg);
  transform-origin: 50% bottom;
}

//#endregion 

//#region ANIMATION + MEDIA QUEREIS 
@media (min-height: 100vw) {
  #first-page-heading{
    font-size: $heading-font-size;
  }

  div.first-page-icons a { 
    font-size: 1em;
  }
  div.first-page-icons a.active { 
    font-size: 1.5em;
  }

  h1 {
    font-size: calc($heading-font-size  /1.5);
  }
  
  h2 {
    font-size: calc($subtitle-font-size /1.5) ;
  }
  
  h3 {
    font-size: calc($sub-subtitle-font-size / 1.5) ; 
  }
  .first-page-icons a { 
    font-size: 1em;
  }
  
  .image-item {
    margin: 1%;
  }
  div#third-page .image-container .image-item img {
    max-width: 120px;
  }
}


@keyframes SlideUp {
  from {
    transform: translateY(150px);
    opacity: 0;
  }
  to {
    transform: translateY(0px);
    opacity: 1;
  }
}

@keyframes SlideColor {
  from {
    background-position: 100% 0%;
  }
  to {
    background-position: 0% 100%;
  }
}

@keyframes FadeIn {
  to {
    opacity: 1;
  }
}

@keyframes SlideDown {
  100% {
    height: 80%;
    opacity: 1;
  }
}

@keyframes zoom {
  to {
    transform: scale(1.15) translateZ(30px);
  }
}

@keyframes Rotate {
  100% {
    transform: rotateX(0deg);
  }
}

@keyframes zoomIn {
  from {
    transform: scale(0);
  }
  to {
    transform: scale(1);
  }
}

//#endregion 