$text-color: white; 
$unselected-text-color: lighten($color: grey, $amount: 30);
$page-title-font-size: 2em; 
$title-font-size: 1.5em; 
$subtitle-font-size: 1em; 
$icons-font-size: 1em; 
$page2-h3-font-size :1em; 
$page2-h2-font-size : 1.5em;
$page2-h1-font-size : 3em; 
$ui-color: white; 


.triangle-right {
	width: 0;
	height: 0;
	border-top: 1.5vh solid transparent;
	border-left: 3vh solid $ui-color; 
	border-bottom: 1.5vh solid transparent;
  margin-right: 2vh;
  visibility: hidden;
}

.triangle-left {
	width: 0;
	height: 0;
	border-top: 1.5vh solid transparent;
	border-right: 3vh solid $ui-color; 
	border-bottom: 1.5vh solid transparent;
  margin-left: 2vh;
  visibility: hidden;
} 

#app { 
  margin: 0;
}

body {
  margin: 0;
}

div
.parent {
  overflow-y: scroll;
  overflow-x: hidden; 
  top: 0;
  height: 100vh;
  scroll-snap-type: y mandatory;
  background-image: url(/assets/prism.png);
  section {
    scroll-snap-align: start;
    height: 100vh;
  }
}


div.page1 { 
  div.mainbox { 
    h1 { 
      margin: 0;
      margin-top: 10%;
      color: $text-color;
      font-size: $title-font-size;
      text-align: center;
      height:fit-content;
      width: 50%;
      margin: auto;
      margin-top: 3%;
    }
    ul{ 
      li{ 
        color: $unselected-text-color; 
        font-size: $subtitle-font-size;
        text-align: center;
        align-items: center;
        height: 15%;
        div {
          width: inherit;
          justify-content: center;
          align-items: center;
          display: flex;
        }
      }
      margin-top: 5vh;
      padding: 0;
      height: inherit;
      list-style: none;
    }
    position: relative; 
    display:inline-block;
    height: 90%;
    width: 100%;
  }

  height: inherit; 
  div.icons {
    a { 
      text-decoration: none;
    }
    div { 
      display: flex;
      margin-left: 7%;
      margin-right: 7%;
      align-items: center;
    }
    img { 
      height: 50%;
      padding-top: 5%;
      width: auto;
      align-content: center;
      justify-content: center;
    }
    h2
      {
        font-size: $icons-font-size;
        padding-left: 2%;
        padding-right: 2%;
        color: $text-color;
        align-items: center;
        justify-content: center;
      }
    display: flex;
    justify-content:space-between; 
    // align-items: center;
    width: 100%;
    height: 10%;
  }
}

div.page2{ 
  height: 100%;
  width: 100%;
  .titlebox { 
    width: 100%;
    height: 20%;
    h1 { 
      color: $text-color; 
      font-size: $page-title-font-size;
    }
    justify-content: center;
    align-items: center;
    display: flex;
  }
  .contentbox { 
    width: 100%;
    display: inline-flex;
    height: 80%;
    color: $text-color;
    .leftbox{
      color: $unselected-text-color; 
      width: 35%;
      margin-left: 8%;
      .projecttitlebox {
        h2 { 
          font-size: $page2-h2-font-size;
          margin-left: 3%;
          margin-right: 3%;
        }
        h3 { 
          font-size: $page2-h3-font-size;  
          margin-right: 5%;
        }
        margin-bottom: 5%;
        width: 100%;
        display:inline-flex;
        align-items: center;
        justify-content: space-between;
        border: 2px solid white;
        border-radius: 15px;
        background-color: transparent;
        height: fit-content;
      }
    }
    .rightbox{ 
      justify-content: center;
      display: block;
      margin-left: 2%;
      height: fit-content;
      width: 50%;
      border-radius: 15px;
      border: 2px solid white;
      .imagebox { 
        video { 
            height: 100%;
            width: 100%;
            border-radius: 15px;
        }
        margin-top: 5%;
        border-radius: 15px;
        height: 50%;
        width: 80%;
        aspect-ratio: 16/9;
        margin-left: auto;
        margin-right: auto;
      }
      h3 {
        font-size: $page2-h3-font-size;
        width: 80%; 
        margin-right: auto;
        margin-left: auto;
      }
      a { 
        text-decoration: none;
        color: $text-color;
      }
      .contentlink{
        display: flex;
        justify-content: space-around;
        width: 80%;
        margin-right: auto;
        margin-left: auto;
        h2{ 
          font-size: $page2-h2-font-size;
          width: fit-content;
        }
      }
    }
  }
} 

div.page3 { 
  .titlebox { 
    width: 100%;
    height: 20%;
    h1 { 
      color: $text-color; 
      font-size: $page-title-font-size;
      
    }
    justify-content: center;
    align-items: center;
    display: flex;
  }
  
  h3 { 
    text-align: center;
    color: $text-color;
    font-size: $page2-h3-font-size;
  }
  .imagecontainer { 
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    overflow-y: auto;
    max-height: 80vh;
    border-radius: 15px;
    height: 70%;
    flex-flow: wrap;
    .imageitem { 
      height: 10%;
      width: auto;
      margin: 1%;
      img { 
        
        border-radius: 15px;
        max-width: 250px;
        max-height: 150px;
        height: auto;
        width: auto;
      }

    }
  }

}

div.page4 { 
  height: 100%;
  width: 100%;
  color: $text-color;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  div { 
    margin-left: 5%;
    margin-right: 5%;
  }
  h1 { 
    font-size: $page2-h1-font-size;
  }
  h2 { 
    justify-content: center;
    height: fit-content;
    width: 100%;
    font-size: $page2-h2-font-size;
    
  }
  h3 {
    justify-content: center;
    font-size: $page2-h3-font-size;
    margin: auto;
  }


}



@media (min-height:100vw) {
  div.page2 .contentbox {
    height: initial;
    flex-direction: column-reverse; 
  }
  div.page2 .contentbox .leftbox { 
    width:  80%; 
    margin: auto; 
    margin-top: 5%;
    height: 15%;
    // overflow-x: hidden;
    // overflow-y: scroll;
  }
  div.page2 .contentbox .rightbox { 
    width: 80%; 
    margin: auto; 
  }

  div.page2 .titlebox { 
    height: initial;
  }

  div.page2 .contentbox .rightbox h3 { 
    text-align: center;
  }
}



.modal {
  display: none;
  position: fixed; 
  z-index: 1; 
  padding-top: 5%; 
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto; 
  background-color: rgb(0,0,0); 
  background-color: rgba(0,0,0,0.9); 
}

.modal-content {
  margin: auto;
  display: block;
  width: 80%;
  max-width: 60vw;
  
}


#caption {
  margin: auto;
  display: block;
  font-size: $page2-h2-font-size;
  width: 80%;
  max-width: 700px;
  text-align: center;
  color: $text-color;
  padding: 10px 0;
  height: 150px;
}

.close {
  position: absolute;
  top: 15px;
  right: 35px;
  color: #f1f1f1;
  font-size: 40px;
  font-weight: bold;
  transition: 0.3s;
}
